.git
.gitignore
.env
src/.env
*.pyc
__pycache__
.DS_Store
*.sqlite3

src/staticfiles/
src/media/
.venv

postgres/

storage/
.vscode/
tests/
test/
.mypy_cache/
src/.mypy_cache/
.pytest_cache/
.zed
.hypothesis

minio/data/
minio/config/