services:
  postgres:
    image: postgres:17-alpine
    hostname: postgres
    restart: unless-stopped
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5432:5432"
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app_network

  redis:
    image: redis:alpine
    hostname: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 3
    networks:
      - app_network

  worker: &celery-base
    image: back
    hostname: worker
    command:
      ["sh", "-c", "celery -A app worker --loglevel=info --events --purge"]
    restart: unless-stopped
    env_file: .env
    links:
      - redis
    depends_on:
      - redis
      - postgres
    networks:
      - app_network

  beat:
    <<: *celery-base
    command:
      [
        "sh",
        "-c",
        "celery -A app beat --loglevel=info --scheduler celery.beat.PersistentScheduler",
      ]
    hostname: beat

  flower:
    image: back
    hostname: flower
    command: ["sh", "-c", "celery -A app flower --basic_auth=admin:admin"]
    restart: unless-stopped
    env_file: .env
    ports:
      - "5555:5555"
    links:
      - redis
    depends_on:
      - redis
      - worker
    networks:
      - app_network

  api:
    image: back
    hostname: api
    restart: unless-stopped
    env_file: .env
    command: ["sh", "-c", "./entrypoint.sh"]
    #    command: ["sh", "-c", "uvicorn app.asgi:application --host 0.0.0.0 --port 8000"]
    #    command: ["sh", "-c", "tail -f /dev/null"] # dev
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app_network

  s3:
    image: minio/minio
    # if using with kuber - bitnami/minio
    hostname: s3
    #command: server --console-address ":9001" http://minio{1...4}/data{1...4}
    command: server  /data  --console-address ":9001"
    restart: unless-stopped
    environment:
      MINIO_ROOT_USER: "user"
      MINIO_ROOT_PASSWORD: "password"
      MINIO_BROWSER_REDIRECT_URL: "http://localhost/s3/ui"
      #MINIO_DEFAULT_BUCKETS: "local-static:public" # only for bitnami/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - ./minio/data:/data
      - ./minio/config:/root/.minio
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app_network

  s3-setup:
    image: minio/mc
    entrypoint: ["/bin/sh", "./minio-setup.sh"]
    environment:
      MINIO_ROOT_USER: "user"
      MINIO_ROOT_PASSWORD: "password"
    volumes:
      - ./minio/minio-setup.sh:/minio-setup.sh
    depends_on:
      s3:
        condition: service_healthy
    networks:
      - app_network

  frontend:
    hostname: frontend
    image: front
    restart: unless-stopped
    depends_on:
      - api
      - s3
    networks:
      - app_network

  nginx:
    image: nginx:1.19.2-alpine
    hostname: nginx_proxy
    restart: unless-stopped
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      # - /etc/letsencrypt:/etc/letsencrypt:ro
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - api
      - s3
      - frontend
    networks:
      - app_network

networks:
  app_network:
    name: app_network
